2DGame/Debug/2DGame.exe
2DGame/2DGame/Debug/vc142.pdb
2DGame/2DGame/Debug/vc142.idb
2DGame/2DGame/Debug/main.obj
2DGame/.vs/2DGame/v16/ipch/AutoPCH/b748dc214774e53b/MAIN.ipch
2DGame/.vs/2DGame/v16/ipch/AutoPCH/acd46b00a697b892/ENDSCENE.ipch
2DGame/.vs/2DGame/v16/ipch/AutoPCH/a4cd572d382722d/GRAPHICS.ipch
2DGame/.vs/2DGame/v16/Browse.VC.db
2DGame/.vs/2DGame/v16/.suo
2DGame/2DGame/Debug/JoyPad.obj
2DGame/2DGame/Debug/Graphics.obj
2DGame/2DGame/Debug/GameScene.obj
2DGame/2DGame/Debug/EndScene.obj
2DGame/2DGame.sln
2DGame/.vs/2DGame/v16/ipch/AutoPCH/f8da6de144b86988/LOADSCENE.ipch
2DGame/.vs/2DGame/v16/ipch/AutoPCH/cc45d5c450b09f5d/STARTSCENE.ipch
2DGame/.vs/2DGame/v16/ipch/AutoPCH/c573bd849a13abed/SCENEMGR.ipch
2DGame/.vs/2DGame/v16/ipch/AutoPCH/5b7f46a4b64b8641/ENDSCENE.ipch
2DGame/.vs/2DGame/v16/ipch/AutoPCH/17120e09af75405b/GAMESCENE.ipch
2DGame/.vs/2DGame/v16/ipch/AutoPCH/14b2e277e14d22db/BASESCENE.ipch
2DGame/.vs/2DGame/v16/Browse.VC.opendb
2DGame/2DGame/Debug/StartScene.obj
2DGame/2DGame/Debug/SceneMgr.obj
2DGame/2DGame/Debug/LoadScene.obj
2DGame/2DGame/Debug/Keyboard.obj
2DGame/2DGame/Debug/2DGame.log
2DGame/2DGame/2DGame.vcxproj.user
2DGame/2DGame/2DGame.vcxproj.filters
2DGame/2DGame/2DGame.vcxproj
2DGame/.vs/2DGame/v16/ipch/AutoPCH/821bb9ad5ab70f9e/SCENEMGR.ipch
2DGame/.vs/2DGame/v16/ipch/AutoPCH/81f5645de80f1889/JOYPAD.ipch
2DGame/.vs/2DGame/v16/ipch/AutoPCH/7c4558320d292235/KEYBOARD.ipch
2DGame/.vs/2DGame/v16/ipch/AutoPCH/6b29c5acf891aba8/GAMESCENE.ipch
2DGame/Debug/2DGame.pdb
2DGame/Debug/2DGame.ilk
2DGame/2DGame/Debug/BaseScene.obj
2DGame/2DGame/Debug/2DGame.tlog/link.write.1.tlog
2DGame/2DGame/Debug/2DGame.tlog/CL.write.1.tlog
2DGame/2DGame/Debug/2DGame.tlog/CL.command.1.tlog
2DGame/2DGame/Debug/2DGame.tlog/2DGame.lastbuildstate
2DGame/2DGame/Debug/2DGame.tlog/link.read.1.tlog
2DGame/2DGame/Debug/2DGame.tlog/link.command.1.tlog
2DGame/.vs/2DGame/v16/ipch/AutoPCH/8759e4afd83594ce/STARTSCENE.ipch
2DGame/2DGame/Debug/2DGame.tlog/CL.read.1.tlog
2DGame/.vs/2DGame/v16/ipch/AutoPCH/e230181a3b613f8d/GRAPHICS.ipch
2DGame/.vs/2DGame/v16/ipch/AutoPCH/8e3a1ef6fe1d98e8/LOADSCENE.ipch
2DGame/.vs/2DGame/v16/ipch/AutoPCH/5bcc91d55907b99b/MAIN.ipch
